__pycache__/
*.py[cod]
.pytest_cache/
*.log
.DS_Store
Thumbs.db
docs/endohjepa/endohjepa.aux
docs/endohjepa/endohjepa.bbl
docs/endohjepa/endohjepa.blg
docs/endohjepa/endohjepa.out
docs/endohjepa/endohjepa.spl
